
/* TOP BAR CODE*/
@import url('https://fonts.googleapis.com/css?family=Oswald');
* {
    box-sizing: border-box;
    font-family: Oswald;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(236, 236, 230);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.main-header {
    background-color: white;
    color: white;
    padding: .25em 0;
}

.main-header-container {
    display: flex;
    align-items: center;
}

.main-header-container ul {
    flex-grow: 1;
    text-align: end;
}

.header-nav li {
    padding: 0 .5em;
}

.header-nav img {
    width: 35px;
    height: 35px;
}


/*SCORE AND LEVEL TRACKER CODE*/
.country-name {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: Oswald;
    font-weight: bold;
    color: rgb(184, 185, 109);
}

.level-number {
    text-align: center;
    margin: 0;
    font-size: 3em;
    font-family: Oswald;
    font-weight: bold;
    color: rgb(199, 199, 171);
}

.select-text {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: Oswald;
    font-weight: bold;
    color: rgb(184, 185, 109);
}

.score-text {
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: Oswald;
    font-weight: bold;
    color: rgb(199, 199, 171);
}

/*MAP CODE*/
.map-section{
    max-width: 1300px;
    margin: 10px auto 0 auto;
    background-color: white;
    padding: 0;
}



svg path{
    fill: grey;
    stroke: white;
    stroke-width: .5;
}

svg path:hover{
    fill: lightgray;
    transition: 0.1s;
    cursor: pointer;
}


/*INFORMATION PAGE SPECIFIC CODE*/
.sub-heading{
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: Oswald;
    font-weight: bold;
    color: rgb(184, 185, 109);
}

.blurb-content{
    text-align: left;
    margin: 0;
    font-size: 1.25em;
    font-family: Arial; 
    font-weight: normal;
    color: darkolivegreen;
    padding: 0 5em 5em 5em;
}
